@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap");

* {
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none;
  font-family: "Source Sans Pro", sans-serif;
  outline: none;
}

body {
  background-image: linear-gradient(to right bottom, #9acced, #9fceee, #a4d1ef, #a9d3f0, #aed6f1);
  color: #0a1e2c;
  height: 100vh;
  padding-top: 50px;
  box-sizing: border-box;
  overflow: hidden;
  /* overflow-y: scroll; */
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

li,
ul {
  list-style: none;
}

a {
  color: #222222;
}

/* width */
::-webkit-scrollbar {
  width: 7px;
}
/* 
/* Track */
::-webkit-scrollbar-track {
  background: #c2e0f4;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ffffff;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #9acced;
}

/*=======================================================
     Modal section 
 =======================================================*/
.modal {
  position: absolute;
  top: 0;
  display: flex;
  display: none;
  justify-content: center;
  background: rgba(0, 0, 0, 0.7);
  width: 100vw;
  height: 100vh;
  transition: ease-in-out 0.5s;
  z-index: 20;
  animation: modal 0.3s ease-out ;
}

@keyframes modal{
  0% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}

.modal-container {
  background: #ffffff;
  height: min-content;
  width: 500px;
  border-radius: 15px;
  margin-top: 100px;
  padding: 30px;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  animation: modal-container 0.3s ease-out ;
}

@keyframes modal-container{
  0% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}

.modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

.modal-header h2 {
  font-family: "lato";
}

.modal-header button {
  background: #ffffff;
  color: #e74c3c;
  font-size: 18px;
  font-weight: 800;
}

.modal-container form {
  display: flex;
  flex-direction: column;
}

.modal-container label {
  color: #3498db;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 10px;
}

.modal-container input {
  height: 35px;
  font-size: 15px;
  width: 100%;
  border-bottom: 1px solid #b8b8b8;
  margin-bottom: 20px;
  box-sizing: border-box;
}

.modal-container textarea {
  font-size: 15px;
  width: 100%;
  margin-bottom: 20px;
  border-bottom: 1px solid #b8b8b8;
}

.modal-footer {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.modal-footer button {
  color: #ffffff;
  background: #3498db;
  font-family: "lato";
  font-size: 14px;
  height: 35px;
  border-radius: 50px;
  margin-right: 10px;
  padding: 0 30px;
}

/*=======================================================
     Main section 
 =======================================================*/

.main-wrapper {
  display: flex;
  width: 1200px;
  margin: 0px auto;
  box-sizing: border-box;
}

.main-wrapper > div {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 50%;
}

.greet {
  text-align: center;
  font-weight: 400;
  margin-bottom: 50px;
  text-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

/*=======================================================
  Left- main section 
 =======================================================*/

.main-l {
  color: #0a1e2c;
  align-items: center;
  padding: 0 100px 0 0;
  text-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.search-bar-container {
  display: flex;
  width: 90%;
  box-sizing: border-box;
  margin: 0px auto 50px;
}

.search-bar {
  display: block;
  width: 100%;
  height: 50px;
  padding: 0px 50px 0 20px;
  border-radius: 50px;
  font-size: 18px;
  box-sizing: border-box;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.search-bar-but {
  background: url("/img/google.png") no-repeat;
  background-size: cover;
  height: 25px;
  width: 25px;
  margin-left: -40px;
  margin-top: 12.5px;
}

.time-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.time-container h1 {
  text-align: center;
  font-size: 70px;
  font-family: "Lato";
}

.time-container p {
  text-align: center;
  margin-top: 30px;
  font-size: 24px;
}

#date {
  font-size: 24px;
  margin-bottom: 20px;
}

/*=======================================================
  Right- main section 
=======================================================*/

/* .main-r {
  padding: 0 0 0 20px;
} */

/*=======================================================
  Tabs buttons
 =======================================================*/

.tabs-buts {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.tabs-but {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #d6eaf8;
  font-size: 15px;
  letter-spacing: 1px;
  width: 33%;
  height: 35px;
  margin: 0;
  cursor: pointer;
  box-sizing: border-box;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.tabs-but:first-child {
  border-radius: 50px 0 0 50px;
}

.tabs-but:last-child {
  border-radius: 0 50px 50px 0;
}

.tabs-buts .active {
  font-weight: 600;
  background: #f7fbff;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

.tabs-badge {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #e74c3c;
  font-size: 13px;
  font-weight: 600;
  height: 13px;
  width: 13px;
  margin-left: 10px;
  border-radius: 20px;
}

/*=======================================================
  Individual tab section 
 =======================================================*/

.all-tabs-section .active {
  display: block;
}

.tabs-sec {
  display: none;
  background-color: #d6eaf8;
  padding: 15px 15px;
  border-radius: 20px;
}

.sec-input-cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sec-input-cont > input {
  font-size: 18px;
  width: 100%;
  height: 40px;
  padding: 0 20px;
  border-radius: 50px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

.sec-input-cont > span {
  color: #b8b8b8;
  margin-left: -30px;
}

.sec-input-cont > button {
  color: #ffffff;
  background: #3498db;
  height: 40px;
  width: 90px;
  font-size: 25px;
  font-weight: 600;
  border-radius: 50px;
  margin-left: 35px;
  box-sizing: border-box;
  box-shadow: 0 3px 15px rgba(53, 78, 221, 0.3);
}

.tabs-sec ul {
  max-height: calc(100vh - 350px);
  margin-top: 10px;
  overflow: auto;
  /* overflow-y: scroll; */
}

.sect-unit {
  display: flex;
  align-items: center;
  font-size: 15px;
  border-bottom: 1px solid #aed6f1;
  padding: 10px;
}

.sect-unit input {
  margin-right: 10px;
}

.sect-unit-text {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.sect-unit-buts {
  display: flex;
  margin-left: auto;
}

.sect-unit-buts button {
  background-size: cover;
  margin-left: 5px;
  height: 20px;
  width: 20px;
}

.sect-unit-buts-del {
  background: url("/img/rubbish-bin.svg") no-repeat;
}

.sect-cont-more-btn {
  display: block;
  margin: 10px auto 0;
  padding: 10px 20px;
  border-radius: 50px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

/*=======================================================
     Footer 
 =======================================================*/

footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
  width: 100vw;
  padding: 20px;
  box-sizing: border-box;
}

footer a {
  color: #3498db;
  cursor: pointer;
}
