*{
     margin: 0;
     padding: 0;
     border: 0;
     font-family: monospace;
}

body{
     position: relative;
     background: url('bg.jpg');
     background-size: cover;
     /* background: #626262; */
}

body::after{
     position: absolute;
     content: '';
     height: 100vh;
     width: 100%;
     top: 0;
     background: rgba(0, 0, 0, 0.8);
     z-index: -1;
}

/*=======================================================
     Main section 
 =======================================================*/

.main-wrapper{
     width: 100%;
     margin: 0px auto;
     box-sizing: border-box;
     display: flex;
}

.main-wrapper > div {
     display: flex;
     flex-direction: column;
     box-sizing: border-box;
     width: 50%;
}

/*=======================================================
     Left- main section 
 =======================================================*/

.main-l{
     align-content: center;
     padding: 50px;
}

.main-l input {
     width: 90%;
     padding: 20px 40px;
     border-radius: 50px;
     margin-bottom: 20px;
     font-size: 24px;
}

.main-l h1{
     font-size: 120px;
     color: #ffffff;
     text-align: center;
}

.main-l p{
     color: #ffffff;
     margin-top: 100px;
     text-align: center;
     font-size: 40px;
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/*=======================================================
Right- main section 
=======================================================*/

.main-r h1{
     font-size: 80px;
     color: #ffffff;
     text-align: center;
}
