@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');

*{
     margin: 0;
     padding: 0;
     border: 0;
     text-decoration: none;
     font-family: 'Source Sans Pro', sans-serif;
}

body{
     background: url('img/background.jpg') no-repeat;
     background-size: cover;
     overflow: hidden;
}

button{
     cursor: pointer;
}

li, ul {
     list-style: none;
}

a{
     color: #ffffff;
}

/*=======================================================
     Header section 
 =======================================================*/



/*=======================================================
     Modal section 
 =======================================================*/
.side-modal{
     position: absolute;
     top: 0;
     right: 0;
     background: #ffffff;
     padding: 20px;
     height: 100vh;
     width: 600px;
     box-shadow: -10px 0 15px rgba(0, 0, 0, 0.3);
     box-sizing: border-box;
     transition: ease-in-out 0.5s;
}

.side-modal-out{
     right: -100%;
}

.sm-header{
     display: flex;
     justify-content: space-between;
     align-items: center;
}

.sm-header button{
     background-color: transparent;
     font-size: 24px;
     font-weight: 600;
     cursor: pointer;
     padding: 5px;
}


/*=======================================================
     Main section 
 =======================================================*/

.main-wrapper{
     width: 1200px;
     margin: 0px auto;
     box-sizing: border-box;
     display: flex;
     align-items: center;
}

.main-wrapper > div {
     display: flex;
     flex-direction: column;
     box-sizing: border-box;
     padding: 30px;
     width: 50%;
}

.greet{
     color: #ffffff;
     text-align: center;
     margin-top: 100px;
     margin-bottom: 100px;
}

.search-bar {
     display: block;
     width: 50%;
     padding: 15px 40px;
     border-radius: 50px;
     margin: 50px auto 10px;
     font-size: 18px;
     box-sizing: border-box;
     box-shadow: 0 0  15px rgba(0, 0, 0, 0.8);
}

/*=======================================================
     Left- main section 
 =======================================================*/

.main-l{
     align-items: center;
}

.main-l h1{
     font-size: 90px;
     color: #ffffff;
     text-align: center;
     font-family: 'Lato';
}

.main-l p{
     color: #ffffff;
     margin-top: 30px;
     text-align: center;
     font-size: 24px;
}

#date{
     color: #ffffff;
     font-size: 24px;
     margin-bottom: 20px;
}

/*=======================================================
     Right- main section 
=======================================================*/

.main-r > h1{
     font-size: 50px;
     margin-bottom: 30px;
     color: #ffffff;
     text-align: center;
}

.tabs-sec{
     background-color: #ffffff23;
     min-height: 200px;
     padding: 15px;
     border-radius: 20px;
}

.sec-input-cont{
     display: flex;
     justify-content: space-between;
     align-items: center;
     margin-bottom: 20px;
}

.sec-input-cont > input {
     padding: 10px 20px;
     font-size: 18px;
     width: 100%;
     border-radius: 20px 0 0 20px;
}

.sec-input-cont > button {
     background: #3498db;
     color: #ffffff;
     padding: 10px 20px;
     font-size: 18px;
     border-radius: 0 20px 20px 0px;
}

.sect-unit{
     color: #ffffff;
     display: flex;
     align-items: center;
     font-size: 20px;
     padding: 10px 0;
     border-bottom: 2px solid rgba(255, 255, 255, 0.1);
}

.sect-unit span {
     background: rgba(255, 255, 255, 0.9);
     margin: 0 5px;
     padding: 7px;
     border-radius: 20px;
     cursor: pointer;
}

.sect-unit span:hover {
     background: rgba(255, 255, 255, 0.3);
}

.sect-unit span img{
     display: block;
     width: 15px;
}

.sect-cont-more-btn{
     display: block;
     margin: 10px auto 0;
     padding: 10px 20px;
     border-radius: 50px;
}